.loaderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 200px; /* Ensure enough vertical space */
    flex: 1; /* Allow it to grow if needed */
}

.spinner {
    width: 60px;
    height: 60px;
    border: 5px solid rgba(25, 118, 210, 0.2); /* Light blue track */
    border-top: 5px solid var(--color-primary); /* Primary color spinner */
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
