.section {
    padding: 64px 0;
    background-color: #f3f3f3;
    min-height: 100vh;
}

.container {
    max-width: 1184px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 32px;
}
