.container {
    position: fixed;
    bottom: 40px;
    right: 40px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    z-index: 900; /* High z-index to stay above content */
}

@media screen and (max-width: 768px) {
    .container {
        bottom: 20px;
        right: 20px;
    }
}
