@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

:root {
    --font-family: "Inter", sans-serif;
    --color-primary: #54be96;
    --color-primary-hover: #36a583;
    --color-secondary: #ebeff5;
    --color-text: #191a15;
    --color-background: #f3f3f3;
    --color-white: #ffffff;
    --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
    font-family: var(--font-family);
    color: var(--color-text);
    background-color: var(--color-background);
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family:
        source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
    font-family: inherit;
}
