@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

:root {
    --font-family: "Inter", sans-serif;
    --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Default Theme (Green) */
:root,
[data-theme="green"] {
    --color-primary: #54be96;
    --color-primary-hover: #36a583;
    --color-secondary: #ebeff5;
    --color-text: #191a15;
    --color-background: #f3f3f3;
    --color-white: #ffffff;
    --color-border: rgba(25, 26, 21, 0.3);
}

[data-theme="blue"] {
    --color-primary: #3470ff;
    --color-primary-hover: #2b5ac7;
    --color-secondary: #e0e9ff;
    --color-text: #191a15;
    --color-background: #f3f3f3;
    --color-white: #ffffff;
}

[data-theme="orange"] {
    --color-primary: #f39c12;
    --color-primary-hover: #d68910;
    --color-secondary: #fef5e6;
    --color-text: #191a15;
    --color-background: #f3f3f3;
    --color-white: #ffffff;
}

[data-theme="dark"] {
    --color-primary: #54be96; /* Keep green or choose another accent for dark */
    --color-primary-hover: #36a583;
    --color-secondary: #2a2a2a;
    --color-text: #f3f3f3; /* Light text */
    --color-background: #121212; /* Dark background */
    --color-white: #1e1e1e; /* Darker component bg */
    --color-border: rgba(
        243,
        243,
        243,
        0.5
    ); /* Higher opacity for visibility */
}

body {
    font-family: var(--font-family);
    color: var(--color-text);
    background-color: var(--color-background);
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family:
        source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
    font-family: inherit;
}
